.nav-menu {
    position: fixed;
    top: 5%;
    border: dotted 1px #2faded;
}

.content {
    padding:20px;
}

.content .pure-img {
    margin: 0 auto;
    /* Making images not push text entirely out of viewport
       This is not responsive
       TODO make it responsive */
    max-height: 30em;
}